<ion-header>
    <ion-navbar color="green">
        <ion-title>{{ comida.comida }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <img [src]="comida.img" />
        <ion-card-content>
            <ion-card-title>
                {{ comida.comida }}
                <ion-badge color="danger">${{ comida.precio }}</ion-badge>
                <ion-badge [color]="comida.stock > 0 ? 'primary' : 'warning'">
                    {{ (comida.stock > 0) ? comida.stock + ' disponibles' : 'No disponible' }}
                </ion-badge>
            </ion-card-title>
            <p>
                {{ comida.descripcion }}
            </p>
            <div text-center *ngIf="!comida.conGuisado">
                <hr>
                <ion-row>
                    <ion-col col-6 *ngFor="let tipo of comida.tipo; let i = index">
                        <button (click)="seleccionarTipo(i)" block ion-button color="dark">{{ tipo }} &nbsp;
                             <ion-icon *ngIf="i === tipoSeleccionadoIDX" name="checkmark-circle"></ion-icon></button>
                    </ion-col>
                </ion-row>
            </div>
            <div text-center *ngIf="comida.conGuisado">
                <hr>
                <ion-row>
                    <ion-col col-6 *ngFor="let guisado of guisados; let i = index">
                        <button (click)="seleccionarGuisado(i)" block ion-button color="dark">{{ guisado.guisado }} &nbsp;
                                <ion-icon *ngIf="guisado.seleccionado" name="checkmark-circle"></ion-icon>
                        </button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button (click)="ingresarMensaje()" ion-button full color="green" [disabled]="(guisadosSeleccionados==0 && tipoSeleccionadoIDX === -1) || ordenMandada">
            Agregar a la orden</button>
    </ion-toolbar>
</ion-footer>